*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "InterMedium";
}
@font-face{
    font-family: "InterMedium";
    src: url(fonts/Inter_18pt-Medium.ttf);
}
@font-face{
    font-family: "InterSemiBold";
    src: url(fonts/Inter_18pt-SemiBold.ttf);
}
@font-face{
    font-family: "InterRegular";
    src: url(fonts/Inter_18pt-Regular.ttf);
}

.placingContainer{
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
}

.placingContainerMiddle{
    margin-left: -43px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.placingCoordonatesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.coordonateTitle{
    font-size: 20px;
}
.placeCoordonatesCard{
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
    width: 314px;
    gap: 10px;
}
.coordonatesRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.coordonatesRowInputs{
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    gap: 4px;
    background-color: #E6E6E6;
}
.coordonateInput{
    background-color: white;
    border-radius: 8px;
    width: 33px;
    height: 33px;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
    font-size: 14px;
    color: #444444;
    cursor: pointer;
}
.coordonateInput::placeholder{
    color: #B7B7B7;
}
.mapPlacingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.mapPlacingTopBottom .mapCoordonate{
    text-align: center;
    font-family: "InterRegular";
    width: 10px;
}
.mapPlacingTopBottom{
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: "InterRegular";
    width: 330px;
    padding: 4px 0px;
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
}
.mapPlacingMiddle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.mapPlacingSide{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 330px;
    padding: 0px 4px;
    font-family: "InterRegular";
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
}

.map-placing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row-placing{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.square-placing{
    height: 33px;
    width: 33px;
    box-shadow: 0px 0px 0px 0.5px white;
    background-color: #5986E9;
}


.placingBoatsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.boatsTitle{
    font-size: 20px;
}
.placeBoatsCard{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 271px;
    border-radius: 28px;
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
}
.placeBoatsTableHeaders{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 4px;
    background-color: #E6E6E6;
    height: 37px;
    padding: 4px;
}
.tableHeader{
    border-radius: 8px;
    font-family: "InterSemiBold";
    flex: 1;
    font-size: 14px;
    color: #444444;
    text-align: center;
    box-shadow: 2px 2px  2px 0px hsla(0, 0%, 0%, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
}
.tableRow{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 33px;
    font-size: 14px;
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
    padding: 0px 20px;
}
.tableLength{
    margin-right: 40px;
}
.tableQuantity{
    margin-right:14px;
}
.tableType{
    width: 72px;
}
.tableQuantity{
    color: #B7B7B7;
}

.placingDoneButton{
    width: 90px;
    height: 37px;
    font-family: "InterMedium";
    background-color: white;
    color: #B7B7B7;
    border: 1px solid #B7B7B7;
    border-radius: 30px;
    cursor: not-allowed;
}

.squareInputed{
    background-color: black;
}
.greyBorder{
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
}
.redBorder{
    box-shadow: 0px 0px 0px 1px #BC4B4B;
}
.blueBorder{
    box-shadow: 0px 0px 0px 1px #5986E9;
}
.grey{
    color: rgb(183, 183, 183);
}

.mapDone{
    box-shadow: 0px 0px 0px 1px #5986E9;
    color: #5986E9;
    transition: all 0.1s ease-in;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
}
.mapDone:hover{
    background-color: #5986E9;
    color: white;
    transform: scale(1.1);
}
.activeInput{
    transition: all 0.1s;
    box-shadow: 2px 2px 4px 0px hsla(0, 0%, 0%, 0.10);
    transition: all 0.1s;
}
.activeInput:hover{
    outline: 1px solid #5986E9;
    outline-offset: -1px;
    transform: scale(1.1);
}

.gameTitle{
    font-size: 50px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to right, #c3ddfb 5%, #6494FF 50%, #c3ddfb 95%);
    background-clip: text;
    background-size: 200%;
    background-position: 0% center;
    background-position: center;
    animation: changeGrad 1.5s linear infinite;
}   
@keyframes changeGrad {
    0%{
        background-position: 0% center;
    }
    100%{
        background-position: 200% center;
    }
}
.playingGameTitle{
    opacity: 0;
    font-size: 50px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to right, #c3ddfb 5%, #6494FF 50%, #c3ddfb 95%);
    background-clip: text;
    background-size: 200%;
    background-position: 0% center;
    background-position: center;
    animation: changeGrad 1.5s linear infinite;
}
@keyframes changeGrad {
    0%{
        background-position: 0% center;
    }
    100%{
        background-position: 200% center;
    }
}

.shrinkMapCoordonate{
    animation: shrinkMapCoordonate 0.25s ease-in 1;
}
@keyframes shrinkMapCoordonate {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.07);
        background-color: #a3bdf5;
    }
    50%{
        transform: scale(0.4);
        border-radius: 20%;
        background-color: #426ac0;
    }
    100%{
        transform: scale(1);
        border-radius: 20%;
        background-color: #5986E9;
    }
}

.growMapCoordonate{
    animation: growMapCoordonate 0.25s ease-in 1;
}
@keyframes growMapCoordonate {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.07);
        background-color: #a3bdf5;
    }
    50%{
        transform: scale(0.4);
        border-radius: 20%;
        background-color: #2c3e65;
    }
    100%{
        transform: scale(1);
        border-radius: 20%;
        background-color: #000000;
    }
}


.appear{
    animation: appear 0.6s 1 forwards ease-in;
}
@keyframes appear {
    0%{
       opacity: 0; 
    }
    100%{
        opacity: 100%;
    }
}

.playingContainer{
    opacity: 100;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    height: 100%;
}
.playingContainerMaps{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.me-square-placing{
    height: 33px;
    width: 33px;
    box-shadow: 0px 0px 0px 0.5px white;
    background-color: #5986E9;
}
.me-squareInputed{
    background-color: black;
}


.computerMapPlacing{
    cursor:crosshair;
}
.middlePlayingContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;
}
.computer-square-placing{
    height: 33px;
    width: 33px;
    box-shadow: 0px 0px 0px 0.5px white;
    background-color: #5986E9;
    transition: all 0.08s;
    cursor:crosshair;
}
.computer-square-placing:hover{
    transform: scale(0.85);
    border-radius: 4px;
}
.computer-square-placing:active{
    transform: scale(0.7);
    border-radius: 6px;
}
.computer-squareInputed{
    background-color: black;
}

.myBoatsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.computerBoatsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.myBoatsTitle{
    font-size: 20px;
    font-family: 'InterMedium';
}
.computerTitle{
    font-size: 20px;
    font-family: 'InterMedium';
}
.myBoatsGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
    border-radius: 28px;
    padding: 20px;
}
.computerGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
    border-radius: 28px;
    padding: 20px;
}
.myBoatsTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3px;
    padding: 4px;
    background-color: #E6E6E6;
    border-radius: 8px;
}
.computerTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3px;
    padding: 4px;
    background-color: #E6E6E6;
    border-radius: 8px;
}
.myBoatsTop p{
    font-size: 14px;
    font-family: 'InterSemiBold';
    color: #444444;
    padding: 9px 0px 9px 0px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    width: 84px;
    box-shadow: 2px 2px 2px 0px hsla(0, 0%, 0%, 0.1);
}
.computerTop p{
    font-size: 14px;
    font-family: 'InterSemiBold';
    color: #444444;
    padding: 9px 0px 9px 0px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    width: 84px;
    box-shadow: 2px 2px 2px 0px hsla(0, 0%, 0%, 0.1);
}
.myBoatsTopRows{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.computerTopRows{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.myBoatsRow{
    display: flex;
    padding: 8px 36px 8px 28px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 1px solid #B7B7B7;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
}
.computerBoatsRow{
    display: flex;
    padding: 8px 36px 8px 28px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 1px solid #B7B7B7;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
}
.myBoatsRow p{
    font-family: 'InterRegular';
}
.computerBoatsRow p{
    font-family: 'InterRegular';
}


.hit{
    animation: hit 0.2s ease-in 1 forwards;
}
@keyframes hit {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.07);
        background-color: #a3bdf5;
    }
    50%{
        transform: scale(0.4);
        border-radius: 4px;
        background-color: #997717;
    }
    100%{
        transform: scale(0.85);
        border-radius: 4px;
        background-color: #E9B013;
    }
}

.destroyed{
    animation: destroyed 0.2s ease-in 1 forwards;
}
@keyframes destroyed {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.10);
        background-color: #f6ce60;
    }
    50%{
        transform: scale(0.85) translateY(-10px);
        border-radius: 4px;
        background-color: #dd3b3b;
    }
    100%{
        transform: scale(0.85) translateY(0px);
        border-radius: 4px;
        background-color: #E91316;
    }
}

.missed{
    animation: missed 0.2s ease-in 1 forwards;
}
@keyframes missed {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1);
        background-color: #83a5ef;
    }
    100%{
        transform: scale(0);
        border-radius: 10px;
        background-color: #ffffff;
    }
}


.dissapear{
    animation: dissapear 0.4s 1 forwards ease-out;
}
@keyframes dissapear {
    0%{
       opacity: 100%; 
    }
    100%{
        opacity: 0%;
        display: none;
    }
}

.moveRight{
    animation: moveRight 0.6s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes moveRight {
    0%{
       transform: translateX(60px); 
    }
    100%{
        transform: translateX(0px);
    }
}

.moveLeft{
    animation: moveLeft 0.6s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes moveLeft {
    0%{
       transform: translateX(-60px); 
    }
    100%{
        transform: translateX(0px);
    }
}

.moveTop{
    animation: moveTop 0.6s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes moveTop {
    0%{
       transform: translateY(-60px); 
    }
    100%{
        transform: translateY(0px);
    }
}

.moveBottom{
    animation: moveBottom 0.6s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes moveBottom {
    0%{
       transform: translateY(60px); 
    }
    100%{
        transform: translateY(0px);
    }
}


.movePlayRight{
    animation: movePlayRight 0.4s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes movePlayRight {
    0%{
       transform: translateX(60px);
       opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.movePlayLeft{
    animation: movePlayLeft 0.6s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes movePlayLeft {
    0%{
       transform: translateX(-60px); 
       opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.movePlayTop{
    animation: movePlayTop 0.6s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes movePlayTop {
    0%{
       transform: translateY(-60px); 
       opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.movePlayBottom{
    animation: movePlayBottom 0.6s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes movePlayBottom {
    0%{
       transform: translateY(60px); 
       opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}




.dissapearRight{
    animation: dissapearRight 0.4s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes dissapearRight {
    0%{
       transform: translateX(0px); 
    }
    100%{
        transform: translateX(60px);
        opacity: 0;
    }
}

.dissapearLeft{
    animation: dissapearLeft 0.4s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes dissapearLeft {
    0%{
       transform: translateX(0px); 
    }
    100%{
        transform: translateX(-60px);
        opacity: 0;
    }
}

.dissapearTop{
    animation: dissapearTop 0.4s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes dissapearTop {
    0%{
       transform: translateY(0px); 
    }
    100%{
        transform: translateY(-60px);
        opacity: 0;
    }
}

.dissapearBottom{
    animation: dissapearBottom 0.4s 1 forwards cubic-bezier(.47,1.64,.41,.8);
}
@keyframes dissapearBottom {
    0%{
       transform: translateY(0px); 
    }
    100%{
        transform: translateY(60px);
        opacity: 0;
    }
}



.thankYouScreen{
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 110px 0px 46px 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
}
.endingMessage{
    filter: blur(4px);
    font-size: 60px;
    color: #d0d0d0;
}
.you{
    font-weight: bold;
    color: #5986E9;
}
.thankYouMiddle{
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.thankyoumsg{
    font-size: 20px;
    font-family: 'InterMedium';
}
.thankYouGameTitle {
  font-size: 50px;
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(to right, #c3ddfb 5%, #6494FF 50%, #c3ddfb 95%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 90px;
  text-shadow: 0px 4px 1px linear-gradient(to right, black 5%, black 50%, black 95%);
}
.thankyouButton{
    border-radius: 30px;
    background-color: #5986E9;
    cursor: pointer;
    color: white;
    border: none;
    width: 120px;
    height: 37px;
    font-size: 16px;
    font-family: 'InterSemiBold';
    transition: all 0.1s;
}
.thankyouButton:hover{
    transform: scale(1.1);
}
.githubContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    color: #B9B9B9;
    font-family: 'InterSemiBold';
}
.gitName{
    margin-right: 4px;
}
.thankyouIcon{
    width: 32px;
    padding: 2px;
    transition: filter 0.1s;
}
.thankyouIcon:hover{
    filter: brightness(0);
}

.scaleUp{
    animation: scaleUp 0.25s 1 ease-in forwards;
}
.scaleUpAgain{
    animation: scaleUp 0.25s 1 ease-in forwards;
}
@keyframes scaleUp {
    from{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}



@media only screen and (max-width:1200px){

.placingContainer{
    height: 100%;
    gap: 40px;
    padding-bottom: 40px;
}

.placingContainerMiddle{
margin-left: 0px;
display: flex;
flex-direction: column;
align-items: center;
}

.coordonateTitle{
    font-size: 16px;
}

.placingContainerMiddle{
    margin-left: 0px;
    gap: 40px;
}

.placeCoordonatesCard{
    padding: 20px;
    width: 255px;
}
.coordonatesBoatName{
    font-size: 12px;
}
.coordonatesRowInputs{
    padding: 3px;
    gap: 3px;
}
.coordonateInput{
    width: 28px;
    font-size: 12px;
    height: 28px;
}

.mapCoordonate{
    font-size: 12px;
}
.mapPlacingTopBottom .mapCoordonate{
    text-align: center;
    font-family: "InterRegular";
    width: 10px;
}
.mapPlacingTopBottom{
    width: 240px;
}
.mapPlacingMiddle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.mapPlacingSide{
    height: 240px;
}
.map-placing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.square-placing{
    height: 24px;
    width: 24px;
}
.boatsTitle{
    font-size: 16px;
}
.placeBoatsCard{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 255px;
    border-radius: 28px;
    box-shadow: 0px 0px 0px 0.5px #B7B7B7;
}
.tableHeader{
    font-size: 12px;
}
.tableRow {
    font-size: 12px;
}
.placingDoneButton{
    width: 90px;
    height: 37px;
}



.playingContainer{
    padding-top: 60px;
    gap: 35px;
}
.playingContainerMaps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.me-square-placing,.computer-square-placing{
    height: 24px;
    width: 24px;
}
.middlePlayingContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;
}
.myBoatsTitle,.computerTitle{
    font-size: 16px;
}

.thankYouScreen{
    padding: 80px 0px 20px 0px;
    width: 100vw;
    height: 100vh;
}
.endingMessage{
    filter: blur(3px);
    font-size: clamp(50px, 10vw, 60px);
    color: #d0d0d0;
}
.endingMessage{
    font-size: 50px;
    text-align: center;
    width: 80%;
}
.thankyoumsg{
    font-size: 16px;
    margin-bottom: -10px;
}
.thankYouGameTitle{
    padding: 0px 20px;
    font-size: clamp(20px,15vw,80px);
}
.thankyouButton{
    font-size: 14px;
    width: 110px;
    height: 34px;
}
.gitName{
    font-size: 16px;
}
}