*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: Arial;
}
body{
    padding-top: 40px;
}


.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.square{
    height: 33px;
    width: 33px;
    border: 1px solid white;
    background-color: rgb(111, 187, 231);
}
.square:hover{
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}